<div class="col-lg-9">
    <div class="panel panel-default hero-icon">
        <div class="panel-heading" style="background-color: rgba(255,255,255,0.2)">
            <b>Statistics</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item transparent">
                            HP
                            <span class="badge pull-right">{{player.hero.HP}}</span>
                        </li>
                        <li class="list-group-item transparent">
                            Attack
                            <span class="badge pull-right">{{player.hero.Attack}}</span>
                        </li>
                        <li class="list-group-item transparent">
                            Defense
                            <span class="badge pull-right">{{player.hero.Defense}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-group">
                        <li class="list-group-item transparent">
                            Magic
                            <span class="badge pull-right">{{player.hero.Magic}}</span>
                        </li>
                        <li class="list-group-item transparent">
                            Evasion
                            <span class="badge pull-right">{{player.hero.Evasion}}</span>
                        </li>
                        <li class="list-group-item transparent">
                            Smth
                            <span class="badge pull-right">{{player.hero.Smth}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>